.klasa_nieuniwersalna_prochniewicz1
{
color: blue;
font-size: 36px;
background-color: yellow;
}
.klasa_nieuniwersalna_prochniewicz2
{
color: purple;
font-size: 36px;
}
.klasa_nieuniwersalna_prochniewicz3
{
color: green;
font-size: 36px;
}

