<html>
  <head>
     <link href="Zadanie_23.css" rel="stylesheet">
  </head>
  <body>
  <p id="pogrubione_Próchniewicz">Szymon Próchniewicz<br>Dowcip I<br>Jakiego programisty należy unikać na imprezach? Tego, który zawsze jest w stanie "beta".</p>
  <p id="pochylona_Próchniewicz">Szymon Próchniewicz<br>Dowcip II<br>Jak programista czyści okna? Klika "refresh".</p>
  <p id="index_gorny_Próchniewicz">Szymon Próchniewicz<br>Dowcip III<br>Dlaczego programiści nie lubią wychodzić z domu? Bo tam nie ma żadnych okien.</p>
  <p id="index_dolny_Próchniewicz">Szymon Próchniewicz<br>Dowcip IV<br>Jak nazywa się ślub programisty? Interfejs użytkownika życia.</p>
  <p id="mono_Próchniewicz">Szymon Próchniewicz<br>Dowcip V<br>Dlaczego programiści nie umieją dobrze kłamać? Bo zawsze rzucają wyjątkiem.</p>
  <p id="powiekszenie_Próchniewicz">Szymon Próchniewicz<br>Dowcip VI<br>Dlaczego programiści nie potrafią kłamać? Bo kod nie oszukuje.</p>
  <p id="pomniejszenie_Próchniewicz">Szymon Próchniewicz<br>Dowcip VII<br>Programista idzie do sklepu spożywczego i pyta: "Czy tu akceptują Bitcoiny?"</p>

  </body>


</html>
p#pogrubione_próchniewicz Jebać Disa
{
  font-size:30px;
  color:#815ED0;
}

p#pochylona_próchniewicz
{
  font-size:35pt;
  color:#e5c26c;
}

p#index_gorny_próchniewicz
{
  font-size:1cm;
  color:#95901c;
}

p#index_dolny_próchniewicz
{
  font-size:1.5cm;
  color:rgb(19%,95%,89%);
}
p#mono_próchniewicz
{
  font-size:40px;
  color:#15e06c;
}


p#powiekszenie_próchniewicz
{
  color:#4f409e;
}

p#pomniejszenie_próchniewicz
{
  color:rgb(70%,64%,23%);
}
