body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: #ccffcc;
  }

  p.cien {
    position: absolute;
    top: 100px;
    left: 78px;
    font-size: 86pt;
    font-weight: bold;
    color: #add8e6;
  }

  p.tekst {
    position: absolute;
    top: 100px;
    left: 90px;
    font-size: 86pt;
    font-weight: bold;
    color: #000080;
  }